*.zo
*.zi
*.o
*.zix
sources/config/m.h
sources/config/s.h
sources/src/camlcomp.1
sources/src/camlcomp.2
sources/src/camllex.1
sources/src/camllex.2
sources/src/camllibr.1
sources/src/camllibr.2
sources/src/camllink.1
sources/src/camllink.2
sources/src/camlrun
sources/src/camlrun.1
sources/src/camlrun.2
sources/src/camlyacc
sources/src/compiler/camlcomp
sources/src/compiler/config.ml
sources/src/compiler/lexer.ml
sources/src/compiler/lexer.mll
sources/src/compiler/location.ml
sources/src/compiler/opcodes.ml
sources/src/compiler/parser.ml
sources/src/compiler/parser.mli
sources/src/launch/camlc
sources/src/launch/camlexec
sources/src/launch/camllight
sources/src/launch/camlmktop
sources/src/launch/testprog
sources/src/lex/camllex
sources/src/lex/grammar.ml
sources/src/lex/grammar.mli
sources/src/lex/scanner.ml
sources/src/lib/filename.ml
sources/src/lib/genlex.ml
sources/src/librar/camllibr
sources/src/linker/camllink
sources/src/linker/predef.ml
sources/src/linker/prim_c.ml
sources/src/runtime/camlrun
sources/src/runtime/jumptbl.h
sources/src/runtime/libcaml.a
sources/src/runtime/primitives
sources/src/runtime/prims.c
sources/src/toplevel/camltop
sources/src/toplevel/expunge
sources/src/toplevel/pr_value.ml
sources/src/toplevel/provide
sources/src/yacc/camlyacc